@using Sample.Services
@model GreetingMessage

<h1>Hello...!!!</h1>
<h2 id="one">This is Manik from Default View.</h2>
<h2 id="two">ID: @Model.ID</h2>
<h2 id="three">@Model.Message</h2>
<script src="~/scripts/script.min.js"></script>